footer{
    /*background-color: var(--cor2);*/
    background-image: url(../img/fundofooter1.png);
    height: 8em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer .logo{
    width: 5em;
    
}